.home_icon {
    height: 80%;
    aspect-ratio: 1/1;
    width: auto;
    background-size: cover;
    border-radius: 50%;
    object-fit: cover;
    border: transparent;
    align-items: center;
    margin: 4%;
    flex-shrink: 0;
    margin-left: clamp(0.25rem, 1.5vw, 1rem);
    background-image: url("src/assets/moon_no_background.png");
}

.home_icon:hover {
    opacity: 0.8;
    height: 90%;
    border-radius: 10px solid rgb(255, 255, 255);
}